<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.mapper.MapMapper">
	
	<select id="selectAll" resultType="Filtration_infoDTO">
		select * from FILTLATION_INFO
	</select>
	<select id="selectjungook" resultType="Filtration_infoDTO">
		select * from FILTLATION_INFO order by danger_no desc;
	</select>
	<select id="selectGwangju" resultType="Filtration_infoDTO">
		select * from FILTLATION_INFO where local='광주광역시' order by danger_no desc;
	</select>
	<select id="selectjunbook" resultType="Filtration_infoDTO">
		select * from FILTLATION_INFO where local='전라북도' order by danger_no desc;
	</select>
	<select id="selectjunnam" resultType="Filtration_infoDTO">
		select * from FILTLATION_INFO where local='전라남도' order by danger_no desc;
	</select>
	
	
	
</mapper>